<% include ../partials/header %>
<% include ../partials/modules/login-modal %>
<div class="row">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-9">
      <!-- <div class="col-lg-12"> --> <!-- switch with other depending on columns -->
        <div class="listHeader">
          <div class="listHeadline">
            <h1><span>Tags</span><i class="fas fa-tag"></i></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="listjsContainer">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-9">
      <!-- <div class="col-lg-12"> --> <!-- switch with other depending on columns -->
        <div class="listTools">
          <% include ../partials/modules/tags-list-search %>
          <% include ../partials/modules/tags-list-sort %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-lg-center">
      <!-- <div class="col-lg-12"> --> <!-- switch with other depending on columns -->
      <div class="col-lg-9">
        <div class="listjs tagsContainer">
          <!-- <div class="tagsContainer"> -->
          <% tags.forEach((tag) => { %>
            <% if(tag.count > 0){ %>
            <div class="card indexCard">
              <a href="/tags/<%= tag.slug %>">
              <div class="card-body tagCard">
                <!-- List.js hack: Hidden ul + linkSchema virtuals -->
                <ul class="hide">
                  <li class="tagName"><%= tag.tag %></li>
                  <li class="tagCount"><%= tag.count %></li>
                </ul>
                <div class="tagInfo">
                  <h2><%= tag.tag %></h2>
                  <span class="tagMeta"><%= tag.count %></span>
                </div>
              </div>
              </a>
            </div>
            <% } %>
          <% }); %>
          <!-- </div> -->
        </div>
        <% include ../partials/modules/links-list-noresults %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg-12">
      <% if(currentUser && currentUser.role === 'admin'){ %>
        <div class="adminTool">
          <a class="adminButton btn btn-outline-primary" href="/tags/new">New Tag</a>
          <a class="adminButton btn btn-outline-secondary" href="/tags/prefetch">Update Prefetch</a>
          <a class="adminButton btn btn-outline-secondary" href="/tags/downloadprefetch">Download Prefetch</a>
        </div>
      <% } %>
    </div>
  </div>
</div>
<% include ../partials/footer %>